=form_with model: @item, class: "grid grid-cols-1 gap-6" do |f|
  %label.block
    =f.label :name
    =f.text_field :name, placeholder: "Item Name", class: "block w-full"

  %label.block
    =f.label :description
    =f.text_area :description, class: "w-full block"

  %label.block
    =f.label :total_item
    =f.number_field :total_item, placeholder: "Total items", class: "w-full block"

  %label.block
    =f.submit "Submit", class: "w-full block bg-blue-500 rounded text-blue-100 px-4 py-2"
