.flex.flex-row
  %div{class: "basis-1/2"}
    %h2
      Items
  %div{class: "basis-1/2 text-right "}
    .my-12
      =tailwind_button "Create Item", new_item_path

%table.table-auto
  %thead
    %tr
      %th Item Name
      %th Total
      %th.text-center Actions
  %tbody
    =render @items
