.flex.flex-row
  %div{class: "basis-1/2"}
    %h2
      Items
  %div{class: "basis-1/2 text-right "}
    .my-12
      =tailwind_button "Create Item", new_item_path

%ul.list-none
  -for i in @items
    %li
      =link_to i.name, item_path(i.id)
