.flex.flex-row
  %div{class: "basis-1/2"}
    %h2
      Items
  %div{class: "basis-1/2 text-right "}
    .my-12
      =tailwind_button "Create Item", new_item_path

%table.table-auto
  %thead
    %tr
      %th Item Name
      %th Actions
  %tbody
    -for item in @items
      %tr
        %td
          =item.name
        %td
          =link_to edit_item_path(item.id), class: "no-underline" do
            =heroicon "cog", variant: "outline"
          =link_to item_path(item.id), data: { turbo_method: :delete }, class: "no-underline" do
            =heroicon "trash", variant: "outline"
          


