.flex.flex-row
  %div{class: "basis-1/2"}
    %h2=@item.name
  %div{class: "basis-1/2 text-right "}
    .my-12
      = link_to "Back to items", items_path

.grid.grid-cols.gap-6
  %label.block
    %label.font-bold Description
    .block.flex
      .basis-full
        = @item.description.to_s
  %label.block.font-bold
    %label Total Item
    = number_field_tag :total_item, @item.total_item, class: "w-full block", disabled: true
  %label.block
    = tailwind_button("Edit item", edit_item_path(@item.id)) 
  
