- flash.each do |flash_type, message|
  - bg, text = notif_color(flash_type)
  .absolute.top-8.right-10.rounded-lg.border-solid.border-2.animate-pulse{ class: bg, data: {controller: "notif", action: "animationiteration->notif#remove" }}
    .w-80.h-14
      %p.mx-5.my-1{class: text}
        = message
