!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Inventory
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag "tailwind", "inter-font", data: { turbo_track: "reload" }
    = javascript_importmap_tags

  %body.mx-auto.prose
    = yield
    .flash#flash

